
<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul>
  
  </nav>
  
  <h1>We'd like to ask you a couple of more-qustions to provide you with a dianosis and treatment options</h1>
  
  <div class="row">
      <div class="card">
        <div class="card-body">
          <a href="#" class="card-title">
            <img class="rounded-circle" alt="100x100" src="assets/images/survey_new.png"
            data-holder-rendered="true"  width="100" height="100">
          </a>
          
          <p class="card-text text-black-50">Cost: Free</p>
          <h5 class="card-title">Complete and e-visit now!</h5>
        </div>
      </div>
  </div>