<h1>App Component</h1>

<nav class="navbar navbar-expand-sm bg-light">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>

</nav>
<div class="row">
  <div class="col-md-8"><h1>Good AfterNoon</h1></div>
  <div class="col-md-4">Do you want Memberhip?</div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              
            </div>
            <input type="text" class="form-control" name="search" placeholder="Symptom.." [(ngModel)]="search">
          </div>
        <a class="btn btn-primary" (click)="searchFunction()">Connect to Care</a>
        </form>
      </div>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <img width="300" height="350" src="assets/images/medical3.jpg">
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <img width="300" height="350" src="assets/images/medical2.jpg">
      </div>
    </div>
  </div>
</div>
